.register-header{
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    font-size: 1.5rem;
    color:white;
    min-height: 100vh;
}

.kuralMail-field{
    margin-bottom: 2rem;
    line-height: 20px;
    border: none;

}

.field-header {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color:white;
    border: none;

}


.float-label-field {
    margin-top: .5rem;
    border: none;
    outline: none;
    position: relative;
    padding: 0 0 0 0;
    width: 450px;
    height: 70px;
    box-sizing:border-box;

}

.float-label-field input {
    outline: none;
    background-color: #282c34;
    color:white;
    width: 100%;
    font-size: 18px;
    padding: 30px 0 10px 8px;
    border: solid 1px lightgrey;
}

.float-label-field label {
    opacity: 0.5;
    position: absolute;
    top: 30px;
    left: 8px;
    transition: all 0.2s ease;
    color:lightgrey;
    font-size: 18px;
}

.float-label-field.focus label {
    opacity: 1 !important;
    color: deeppink;

}
.float-label-field.focus input {
    border: solid 2px deeppink;

}
.float-label-field.float label {
    opacity: 0.5;
    top: 0;
    font-size: 60%;
    transition: all 0.2s ease;
    font-weight: bold;
}

input[type="button"]{
    flex-direction: row;
    padding: 10px 10px 10px 10px;
    font-size: 1rem;
    margin-right: 10px;
    background-color:deeppink;
    color: white;
    border-radius: 12px;
    transition-duration: 0.4s;
}

input[type="button"]:hover {
    background-color: white;
    color: black;
}
